@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.box {
    /* background-color:#F57C00; */
    background: linear-gradient(to right, #FFA41A, #F57C00, #F57C00);
    border-width: 0px;
    border-radius: 13px;
    height: 60px;
    width: 60px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: Bold;
    font-size: 25px;
    padding: 13px;
}

.nb {
    color: grey;
}

.mm1 {
    background-image: url("https://i.pinimg.com/736x/76/9d/84/769d8454f78dabe81ec54e51fea6d156.jpg");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mm {
    background-image: url("https://res.cloudinary.com/dyhnr3npy/image/upload/Screenshot_2025-12-21_141203_rlnt6s.png");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.hh {
    background-image: url("https://images.unsplash.com/photo-1524592094714-0f0654e20314?auto=format&fit=crop&w=800&q=80");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hh1 {
    background-image: url("https://i.pinimg.com/1200x/49/5b/fa/495bfa09849aad0fa532fba240297a1e.jpg");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hh2 {
    background-image: url("https://i.pinimg.com/1200x/cf/39/c9/cf39c9a9789abc51124191dcea5d700f.jpg");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hh3 {
    background-image: url("https://i.pinimg.com/1200x/9b/04/50/9b045055e6c7aa939f8aa111eef27ed1.jpg");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hh4 {
    background-image: url("https://i.pinimg.com/736x/6b/19/26/6b1926752794579217ebe70a6b9f0f79.jpg");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hh5 {
    background-image: url("https://res.cloudinary.com/dyhnr3npy/image/upload/Screenshot_2025-12-21_163826_agvqxe.png");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hh6 {
    background-image: url("https://i.pinimg.com/736x/b2/0e/16/b20e16cafe4e13d98b1f0ba6df3a1017.jpg");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mm2 {
    background-image: url("https://res.cloudinary.com/dyhnr3npy/image/upload/Screenshot_2025-12-21_150433_iynuyr.png");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.mm3 {
    background-image: url("https://cdn-img.prettylittlething.com/5/6/3/a/563ab522b13c96863befc20819e4d20c093e208f_CNK8246_5_petite_blue_denim_seam_detail_barrel_leg_jeans.jpg?imwidth=800");
    background-size: cover;
    height: 50vh;
    width: 45vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.bw {
    /* background-color:#F57C00; */
    background: linear-gradient(to right, #FFA41A, #F57C00, #F57C00);
    border-width: 0px;
    border-radius: 13px;
    height: 60px;
    width: 100vw;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: Bold;
    font-size: 25px;
    padding: 13px;
}

/* search box code */
.search-container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.search-container input {
    height: 55px;
    width: 100%;
    background-color: #FFFBEA;
    padding: 10px;
    /* space for button and icon */
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.search-container input:focus {
    border-width: 4px;
    border-style: solid;
    border-color: #FFBC48;
}

.search-container button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #FFA41A, #F57C00, #F57C00);
    width: 90px;
    height: 40px;
    margin: 6px;
    color: white;
    border-width: 0px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.button1:hover {
    background: #D36204;
}

/* ---- */
.p2 {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.p3 {
    color: #727070
        /* #AFACAC */
    ;
}

.box1 {
    margin-top: 25px;
    background-color: #C2F6D2;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border-width: 0px;
    padding: 10px;
}

.box2 {
    margin-top: 25px;
    background-color: #BDDDF9;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border-width: 0px;
    padding: 10px;
}

.box3 {
    margin-top: 25px;
    background-color: #FFF1BB;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border-width: 0px;
    padding: 10px;
}

.s2 {
    color: blue;

    height: 20px;
    width: 20px;
}

.s3 {
    color: #D28819;

    height: 20px;
    width: 20px;
}

.s {
    color: green;

    height: 20px;
    width: 20px;
}

.b1 {
    background-color: #FFF1BB;
    border-width: 0px;
    border-radius: 15px;
    height: 38px;
    padding: 5px;
    width: 280px;
    color: brown;
    font-family: "roboto";
    font-weight: 500;
}

.h1 {
    color: black;
    font-family: "Roboto";
    font-weight: Bold;
    font-size: 50px;
}

.p1 {
    color: #433C3C;
    font-size: 20px;
}

.h2 {
    color: #D67315;
    font-family: "Roboto";
    font-weight: Bold;
    font-size: 50px;
}

.bg {
    background-color: #FFFBEA;
    height: 160vh;
    width: 100vw;
    padding: 20px;
}

.boxa {
    background: linear-gradient(to bottom, #FF156B, #F6327A, #FB639B);
    height: 45vh;
    width: 45vh;
    border-width: 0px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 10s ease-out;
    transform-style: preserve-3d;
    animation: color 10s 2s infinite;
}

@keyframes color {
    0% {
        transform: rotateY(180deg);
        background: linear-gradient(to bottom, #FF156B, #F6327A, #FB639B);

    }

    20% {
        transform: rotateY(0deg);
        background: linear-gradient(to bottom, #1C95F1, #1CBCF1, #69D0F2);

    }

    40% {
        transform: rotateY(180deg);
        background: linear-gradient(to bottom, #F8600D, #F19718, #F8B44E);

    }

    60% {
        transform: rotateY(0deg);
        background: linear-gradient(to bottom, #04D59A, #17F1B4, #72E8C6);
    }

    80% {
        transform: rotateY(180deg);
        background: linear-gradient(to bottom, #970DD7, #B044F8, #C06EF8);
    }

    100% {
        transform: rotateY(0deg);
        background: linear-gradient(to bottom, #FF156B, #F6327A, #FB639B);
    }
}

.df {
    background-color: #D97706;
    height: 40px;
    width: 100vw;
    padding: 10px;
    color: #ffffff;
}

.ca {
    color: black;
    height: 30px;
    width: 30px;

}

.p {
    color: #E28008;
}

.ab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}

.nb:hover {
    color: #770303;
    background-color: #F8E19B;
    border-width: 0px;
    border-radius: 7px;
    padding: 5px;

}